################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/auralethi.github.io/FileContentIndex/6e3712d6-f3bf-4328-b1e3-92cc49bb1c3a.vsidx
